<div class="main" style="display: flex;
flex-wrap: wrap;">
  <div class="bg-dark m-2 p-2" style="display: flex; flex-direction: column;justify-content: space-evenly;align-items: center;
  height: 350px; width: 200px;" *ngFor="let k of flop ; index as i">
    <img src="{{k.imageUrl}}" alt="img" style="height: 200px; width: 150px;">
    <button class="btn btn-light"[class.btn-light]="selected" [class.btn-success]="!selected" (click)="onchange()" >On Sale</button>
<h4 style="color: #fff;" >{{k.onSale}}</h4>
<svg (click)="ondelete(i)" xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-trash bg-danger m-2 p-1" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
</svg>
  </div>
</div>